header {
    background-color:darkcyan;
    text-align: center;
}
header>h1 {
    color: white;
}
section, aside {
    padding: 1px;
}
footer {
    padding: 1px;
    background-color: darkcyan;
    text-align: center;
    color: white;
}